appdirs==1.4.4
bitstring==3.1.7
cffi==1.14.5
click==7.1.2
cryptography==3.4.7
distlib==0.3.1
ecdsa==0.17.0
esptool==3.1
filelock==3.0.12
Flask==0.12.2
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
passlib==1.7.4
pbr==5.6.0
peewee==3.14.4
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycparser==2.20
pyserial==3.5
reedsolo==1.5.4
six==1.15.0
stevedore==3.3.0
touch==2020.12.3
values==2020.12.3
virtualenv==20.4.4
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
Werkzeug==1.0.1
Wrapper==1.1.0b1
